.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: 10;
}

.navbar a {
  padding: 16px;
  color: #f5f5f1;
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #221f1f;
}
