html,
body {
  height: 100vh;
  margin: 0;
}

.myApp {
  height: 93vh;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 128px 0 316px;
  color: #e50914;
  background-color: black;
}

.main h1 {
  font-size: 50px;
}

.main p {
  margin-top: -32px;
}

.main button {
  margin-top: 16px;
  border: none;
  padding: 8px 96px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  background-color: #e50914;
  color: #f5f5f1;
  cursor: pointer;
}
